*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
app/release/License.dat
app/release/License.dat
*.dat
app/release/output.json
app/release/License.dat
app/release/his-release-9.6.apk
